.readMe {
    margin: 14.66rem 0 8rem 0;

    &__inner {
        @media (max-width: 767px) {
            max-width: 370px;
            margin: 0 auto;
        }  

    }

    &__text {
        text-align: center;

        
        h1 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 3rem;

            margin-bottom: 1.3rem;
        }
        p {
            font-weight: 300;
            color: #717072;
            font-size: 1.2rem;
            
        }

    }

    &__col {

        flex-basis: 33.3333%;
        padding: 2rem 15px;

        &-label {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 77px;
            height: 77px;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            text-align: center;

            background-color: $black;
            color: $white;
            font-weight: bold;
        }

        &-header {
            position: relative;
        }

        @media (max-width: 767px) {
            flex-basis: 100%;
        }
    }

    &__content {
        h4 {
            margin-top: 2rem;
            font-size: 1.2rem;
            color: $black;
            font-weight: bold;
        }

        &-category {
            margin-top: 1rem;
            
            font-size: 0.8rem;
            font-weight: 400;
            color: $black;
            text-transform: uppercase;
        }
        &-text {
            margin-bottom: 2rem;

            font-size: 0.8rem;
            font-weight: 300;
            color: #717072;
        }
    }


}

.readMe__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.readMe__link {
    margin-top: 1.33rem;;

    text-align: right;

    color: #717072;

    &:hover {
        text-decoration: none;
    }
}
