.social {
    margin-bottom: 42px;
    display: flex;
    a {
        text-decoration: none;
        transition: all .2s linear;
        &:hover {
            transform: translateY(-5px);
        }
    }
    &__link {
        margin-right: 10px;
    }
}